# OS / SYSTEM FILES

.DS_Store
Thumbs.db
desktop.ini


# EDITORS / IDE

.vscode/
.idea/
*.swp
*.swo

# LOGS

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TEMP / CACHE

.cache/
.tmp/

# OPTIONAL (якщо зʼявиться)

node_modules/
dist/
build/
