# ENV (ніколи не коміть секрети)
.env
.env.*
!.env.example

# GO BUILD ARTIFACTS
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.coverprofile

# GO WORKSPACE / TEMP
bin/
tmp/
air.toml

# OPTIONAL: якщо колись використаєш vendor
vendor/

# DOCKER (інколи зʼявляються локальні файли)
*.pid

# SWAGGER GENERATED (тільки якщо НЕ хочеш тримати згенеровані docs у репо)
# docs/
